<div class="flex justify-center w-full">
    <div class="grid grid-cols-1 justify-items-center mt-5">
        <p class="text-3xl">Login Page</p>
        <form class="flex flex-col mt-5">
            <mat-form-field class="">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="email">
            </mat-form-field>
            <div class="place-self-end">
                <button mat-stroked-button class="w-40" color="primary">Login</button>
            </div>
        </form>

        <div class="mt-10">
            <a class="text- text-indigo-800">Forgot username or password?</a>
        </div>
    </div>
</div>